.postContent{
    max-width: 1200px;
    margin: 80px auto;
}
.displayflexContent{
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-bottom: 50px;
}
.MainImg{
    height: 450px;
}
.gallarySize{
    height: 900px;
}
@media(max-width: 500px) {
    .displayflexContent{
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding: 15px;
    }
    .postContent{
        max-width: 1200px;
        margin: 150px auto 80px;
    }
    .MainImg{
        height: auto;
        max-width: 400px;
    }
    .gallarySize{
        height: auto;
    }
}