.footerContent{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.social{
    display: flex;
    gap: 10px;
}
.social a {
    border-radius: 30px;
    text-align: center;
    height: fit-content;
}

@media (max-width: 500px){
    .footerContent{
        width: auto;
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column-reverse;
    }
}